<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<string>台湾🇨🇳</string>
		<key>code</key>
		<string>TW</string>
		<key>mcc</key>
		<string>466</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>香港🇭🇰</string>
		<key>code</key>
		<string>HK</string>
		<key>mcc</key>
		<string>454</string>
		<key>mnc</key>
		<string>00</string>
	</dict>
	<dict>
		<key>area</key>
		<string>澳门🇲🇴</string>
		<key>code</key>
		<string>MO</string>
		<key>mcc</key>
		<string>455</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>日本🇯🇵</string>
		<key>code</key>
		<string>JP</string>
		<key>mcc</key>
		<string>440</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>韩国🇰🇷</string>
		<key>code</key>
		<string>KR</string>
		<key>mcc</key>
		<string>450</string>
		<key>mnc</key>
		<string>02</string>
	</dict>
	<dict>
		<key>area</key>
		<string>英国🇬🇧</string>
		<key>code</key>
		<string>UK</string>
		<key>mcc</key>
		<string>234</string>
		<key>mnc</key>
		<string>00</string>
	</dict>
	<dict>
		<key>area</key>
		<string>美国🇺🇸</string>
		<key>code</key>
		<string>US</string>
		<key>mcc</key>
		<string>310</string>
		<key>mnc</key>
		<string>032</string>
	</dict>
	<dict>
		<key>area</key>
		<string>澳大利亚🇦🇺</string>
		<key>code</key>
		<string>AU</string>
		<key>mcc</key>
		<string>505</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>加拿大🇨🇦</string>
		<key>code</key>
		<string>CA</string>
		<key>mcc</key>
		<string>302</string>
		<key>mnc</key>
		<string>130</string>
	</dict>
	<dict>
		<key>area</key>
		<string>阿根廷🇦🇷</string>
		<key>code</key>
		<string>AR</string>
		<key>mcc</key>
		<string>722</string>
		<key>mnc</key>
		<string>010</string>
	</dict>
	<dict>
		<key>area</key>
		<string>菲律宾🇵🇭</string>
		<key>code</key>
		<string>PH</string>
		<key>mcc</key>
		<string>515</string>
		<key>mnc</key>
		<string>02</string>
	</dict>
	<dict>
		<key>area</key>
		<string>老挝🇱🇦</string>
		<key>code</key>
		<string>LA</string>
		<key>mcc</key>
		<string>457</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>马来西亚🇲🇾</string>
		<key>code</key>
		<string>MY</string>
		<key>mcc</key>
		<string>502</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>泰国🇹🇭</string>
		<key>code</key>
		<string>TH</string>
		<key>mcc</key>
		<string>520</string>
		<key>mnc</key>
		<string>00</string>
	</dict>
	<dict>
		<key>area</key>
		<string>新加坡🇰🇭</string>
		<key>code</key>
		<string>SG</string>
		<key>mcc</key>
		<string>525</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>印度尼西亚🇮🇩</string>
		<key>code</key>
		<string>ID</string>
		<key>mcc</key>
		<string>510</string>
		<key>mnc</key>
		<string>00</string>
	</dict>
	<dict>
		<key>area</key>
		<string>越南🇻🇳</string>
		<key>code</key>
		<string>VN</string>
		<key>mcc</key>
		<string>452</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>安圭拉🇦🇮</string>
		<key>code</key>
		<string>AI</string>
		<key>mcc</key>
		<string>365</string>
		<key>mnc</key>
		<string>010</string>
	</dict>
	<dict>
		<key>area</key>
		<string>越南🇻🇳</string>
		<key>code</key>
		<string>VN</string>
		<key>mcc</key>
		<string>452</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>巴拿马🇵🇦</string>
		<key>code</key>
		<string>PA</string>
		<key>mcc</key>
		<string>714</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>德国🇩🇪</string>
		<key>code</key>
		<string>DE</string>
		<key>mcc</key>
		<string>262</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>俄罗斯🇷🇺</string>
		<key>code</key>
		<string>RU</string>
		<key>mcc</key>
		<string>250</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>法国🇫🇷</string>
		<key>code</key>
		<string>FR</string>
		<key>mcc</key>
		<string>208</string>
		<key>mnc</key>
		<string>00</string>
	</dict>
	<dict>
		<key>area</key>
		<string>芬兰🇫🇮</string>
		<key>code</key>
		<string>FL</string>
		<key>mcc</key>
		<string>244</string>
		<key>mnc</key>
		<string>03</string>
	</dict>
	<dict>
		<key>area</key>
		<string>意大利🇮🇹</string>
		<key>code</key>
		<string>IT</string>
		<key>mcc</key>
		<string>222</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
	<dict>
		<key>area</key>
		<string>印度🇮🇳</string>
		<key>code</key>
		<string>IN</string>
		<key>mcc</key>
		<string>404</string>
		<key>mnc</key>
		<string>01</string>
	</dict>
</array>
</plist>
